aniso8601==8.0.0
appdirs==1.4.4
binaryornot==0.4.4
boolean.py==3.8
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
distlib==0.3.2
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.3
fsfe-reuse==1.0.0
greenlet==1.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
license-expression==1.2
login==0.0.6
MarkupSafe==1.1.1
pipenv==2021.5.29
python-debian==0.1.39
pytz==2020.1
requests==2.25.1
reuse==0.12.1
six==1.15.0
SQLAlchemy==1.3.18
Unipath==1.1
urllib3==1.26.3
virtualenv==20.4.7
virtualenv-clone==0.5.4
Werkzeug==1.0.1