<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CircleCI Challenge</title>

    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
</head>

<div class="jumbotron">
    {% if submitButton %}
        
    {% else %}
    <h1>{{question}}</h1>
    {% endif %}

        <body style="margin-top: 250px; text-align: center;" class="container">
            {% if not submitButton %}
            <h1>{{circleci_message}}</h1>
            {% else %}

            {% endif %}

            <form method="POST", action="/" style="margin-top: 100px;"class="container" method="POST">
                <button class ="btn btn-lg btn-warning"type="submit" name="Submit" value="Submit">Click for Answer</button>
        </form>
        </body>
</div>
</html>